/*
FLEXBOX
*/


.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: silver;
  border-radius: 50px;
  margin-top: 50px;
  justify-content: space-evenly;
}
.flex-item {
background-color: aliceblue;
font-size: 18px;
margin: 25px;
}
.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.flex-column >div {
  background-color: green;
  width: 100px;
  margin: 5px;
 text-align: center;
 line height: 50px;
 font-size: 18px;
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.flex-row >div {
  background-color: dodgerblue;
  width: 100px;
  margin: 5px;
 text-align: center;
 line height: 30px;
 font-size: 16px;
}
.flex-justify-left{
justify-content: left;
}
.flex-justify-right{
justify-content: right;
}
.flex-justify-center{
  justify-content: center;
}
.navbar{
    background-color: silver;
    color: black;
    border: solid 1px;
    border-radius: 50px;
    font-size: 25px;
    justify-content: center;
    display: flex;
    margin: 25px;
}
h1 {
  font-family: Trebuchet New, monospace;
  font-size: 3em;
  margin: 1em 0 0.3em;
}
img {
  width: 300px;
  height: 130px;
}

.narrow {
  width: 100px;
  height: 150px;
  margin-top: 10px;
}

.fill {
  object-fit: fill;
}

.contain {
  object-fit: contain;
}

.cover {
  object-fit: cover;
}

.none {
  object-fit: none;
}

.scale-down {
  object-fit: scale-down;
}
